@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fadeIn animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
/* Add to your global CSS */


@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}